.nex-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100;
}

.nex-sidenav {
    align-items: center;
    justify-content: center;
    width: 230px;
}

.nex-header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}