.add-button {
    background-image: linear-gradient(to right, red 15%, orange 85%);
    color: white;
    line-height: 0px;
    float: right;
}

.nav {
    background-color: transparent !important;
}

ol {
    background-color: transparent !important;
}