<div>
    <div class='my-3 px-3'>
        <div>
            <div>Component Configuration</div>
            <div>
                <div class="row">

                    <nav class='col-9 nav' aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Configuration</li>
                        </ol>
                    </nav>

                    <button mat-button class='col-3 add-button' (click)='addComponent()'>
                            <mat-icon>add</mat-icon> Add component
                        </button>

                </div>
            </div>
        </div>
        <div class='my-3 px-3'>
            <app-general-settings></app-general-settings>

        </div>
        <div class='my-3 px-3'>
            <app-components #componentList></app-components>
        </div>
    </div>